# String,Float,Int & Boolean

In [2]:
fname = "joel"
lname = "aikoroje"
age = 50 
length = 5.5#float
6 == 6#boolean

True

In [4]:
6 == 6

True

In [6]:
6 =='6'

False

# Importing pandas

In [7]:
import pandas as pd

In [8]:
x = 5
y =10

In [9]:
x+y

15

In [10]:
y-x

5

In [11]:
y/x

2.0

In [12]:
x/y

0.5

In [13]:
pp = 5
z = 3

In [15]:
z%pp

3

In [16]:
v=5
r=3

In [17]:
v%r

2

In [18]:
r%v

3

In [19]:
g=7
n=7

In [20]:
g%n

0

# If -else loop

In [2]:
if xx > xy:
    print ("OK")

elif xx == xy:
    print('xx is = xy')

elif xx < xy:
    print('xx is less than xy')

OK

In [10]:
#state and capital

city1 = 'lekki'
city2 = 'ikoyi'
capital = 'ikeja'

capital.upper()

if capital == city1:
   print(city1, 'is not the capirtal of lagos')
    

elif capital == city2:
   print(city2, 'is not the capirtal of lagos')
    
    

elif capital == capital:
   print(capital.upper(), 'is the capital of lagos')

IKEJA is the capital of lagos

In [9]:
if xx < xy:
    print ("OK")

else:
    print("NOT OK")

NOT OK

# list numbers

In [4]:
#list numbers between 1 and 10

for i in range (5,12):
    print(i)

5
6
7
8
9
10
11

In [5]:
start_no = 4
end_no = 20

for i in range(start_no, end_no):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# list definations

In [7]:
number = [4,6,8,4,6,8,7] #DEFINE THE LIST

sum = 0
for i in number:
    sum = sum + i
    
print(sum)

43

In [8]:
#multiplication of list

number = [4,6,8,4,6,8,7] #DEFINE THE LIST

sum = 1
for i in number:
    sum = sum * i
    
print(sum)

258048

# List

In [11]:
List_cars = ['Lexus','BMW', 'Benz','Kia','Volvo', 'Venza']
Even_numbers = [2, 4, 6 ,8 ,10]
food_stuffs = ['beans', 'rice']

In [12]:
List_cars

['Lexus', 'BMW', 'Benz', 'Kia', 'Volvo', 'Venza']

In [13]:
len(List_cars)

6

In [14]:
List_cars[3]

'Kia'

In [15]:
#iterating through the list
for i in List_cars:
    print(i)

Lexus
BMW
Benz
Kia
Volvo
Venza